<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StipePay</title>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var stripe = Stripe('pk_test_51JNiMqLzBwNbZRjzmHUX7pNVYf1Sl3BGhHwCbWkoaLJN20hsexDgG8ngzvC2P0UMrtZmHBsPJh0OIU1LjbZAUk6x00F3A5lsj1');        const elements = stripe.elements();
    var elements = stripe.elements();
    </script>
</head>
<body>
    <div class="credit-card animated" >
        <div>
            <br>
            <br>
            <br>
            <br>
            <div #cardInfo></div>
            <div class="error" *ngIf="cardError">
                {{ cardError }}
            </div>
        </div>
        <button>Pagar</button>
    </div>
</body>
</html>
